# Eclipse metadata files that can be ignored  
.classpath  
.editorconfig  
.factorypath  
.gitattributes  
.project  
.settings/  
bin/  
  
target/  
# maven project related ignore files and directories  
.mvn/  
target/
