<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employees Management System</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
 <div class="container">
	   <h1>Update Employee </h1>
	   <form th:action="@{/saveEmployee}" th:object="${updateById}" method="POST">
	       <input type="hidden" th:field="*{id}" />
		   <div class="mb-3">
		      <input class="form-control-sm" type="text" th:field= "*{firstName}" placeholder="First Name"/>
		   </div>
		   <div class="mb-3">
		      <input class="form-control-sm" type="text" th:field= "*{lastName}" placeholder="Last Name"/> 
		   </div>
		   <div class="mb-3">   
		      <input type="email" class="form-control-sm" th:field= "*{email}"  placeholder="Email" aria-describedby="emailHelp">
		   </div>
		   <div class="mb-3">   
		      <button class="btn btn-primary btn btn-outline-info" type="submit">Update Employee</button>
		   </div>
	   </form>
 </div>	   

</body>
</html>